[submodule "team6-server"]
	path = team6-server
	url = https://github.com/HACKY-TALKY-2-2/team6-server
[submodule "team6-frontend"]
	path = team6-frontend
	url = https://github.com/HACKY-TALKY-2-2/team6-frontend
